---
import Layout from '@/layouts/Layout.astro';
import { markdownify, plainify } from '@/shared';
import { getEntryBySlug } from 'astro:content';

const home = await getEntryBySlug('home', 'index');
const { services } = home.data;
---

<Layout title="Nuestros Servicios">
    <!-- services -->
    <section class="pt-[70px] bg-theme-light mb-10">
        <div class="container md:col-8 2xl:col-6">
            <div class="text-center">
                <h2>{markdownify(services!.title)}</h2>
            </div>
            {
                services!.features.map((item: any, i: number) => (
                    <div class="mt-8 row border-y-2 rounded-3xl bg-white text-center shadow-md mb-9 pt-4 md:pt-0 " class:list={[i%2==0 ? 'flex-row-reverse' : '']}>
                        <div class="col-12 md:col-2 rounded-3xl px-0 align-middle flex justify-center">
                            <img src={item.icon} alt="" class="img-blur-shadow shadow w-28 h-28 md:w-full rounded-3xl my-auto" />
                        </div>
                        <div class="col-12 md:col-10 py-4 md:py-6 px-4 md:px-12">
                            <p class="h4" set:html={markdownify(item!.name)} />
                            <p class="h6" set:html={markdownify(item!.category)} />
                            <p class="mt-3 text-start" set:html={markdownify(item.content)} />
                        </div>
                    </div>
                    ))
                }
        </div>
    </section>

</Layout>
